@keyframes changewidth {
    0% {
        transform: scaleY(1);
    }
  
    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
  }
  
.typing {
    animation-duration: 0.9s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}