@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.canvas-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: '100%';
}

.headline-container{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    pointer-events: none;
}

#text-behind, #text-front, #text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(20px, 10vw, 150px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: clamp(1px, 1.5vw, 10px);
  line-height: 0.9;
}

#text-behind {
  z-index: 1;
}

#text-behind-blur {
  color: inherit;
  text-shadow: 0 0 15px currentColor, 0 0 30px currentColor;
  z-index: 0;
}

#text-front {
  color: transparent;
  -webkit-text-stroke: clamp(1px, 0.3vw, 2px) white;
  z-index: 3;
}

@media (max-width: 768px) {
  .headline-container {
    padding: 0 10px;
  }

  .canvas-container {
    opacity: 0.6;
  }
}